{% extends "base.html" %}
{% block content %}
    <div>
        <p>Choose a field
        <select class='ssaleList'>
             <option value='ech'>--Select a Search Field--</option>
             <option value='fname'>First Name</option>
             <option value='lname'>Last Name</option>
             <option value='policy'>Policy</option>
             <option value='notes'>Notes/Man(In/Out)</option>
             <option value='source'>Source</option>
             <option value='agent'>Agent</option>
        </select>
        </p>        
        <p>What to Search <input id='searchsalein' type='text' /><button type='input' id='saleo' >Search </button>        <button type='input' id='export' class='salecontainer'>Get CSV </button></p>
        <p>Date Range <br/> From:<input type="text" class="fromdate" id="from" name="from" >- To:<input class="todate" type="text" id="to" name="to" ></p>
    </div>
		<div id='salecontainer' style="overflow:auto;position:relative;width:1400px;left:-130px;height:600px;border:1px black solid;">
		</div>
{% endblock %}